/*
@media (min-width:768px) {
}
@media (min-width:992px) {
}
@media (min-width:1200px) {
}
*/
body {
  font-family: 'Vollkorn', serif;
  font-size: 17px;
  padding-bottom: 5em;
}
h1, h2, h3 {
  font-family: 'Dosis', sans-serif;
  font-weight:300;
  margin-top: 0.5em;
  text-transform: uppercase;
}
a, a:link, a:visited {
  color: #ab0a34;
}
img {
  max-width: 100%;
}
.container {
  max-width: 900px;
}
.section {
  margin-top: 2em;
  margin-bottom: 3em;
}
