.header-main {
  background: url('/assets/bg-header.jpg') 50% 0 no-repeat;
  background-size: cover;
  min-height: 300px;
  padding-top: 2em;
  text-align: center;
}
.logo {
  width: 240px;
  /*position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -120px;
  z-index: 1;*/
}
@media (max-width:420px) {
  .logo {
    width: 200px;
  }
}
.home-banner {
  width: 100%;
  height: auto;
}
