<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>{{ site.title }} | {{ title }}</title>
  <link href="/assets/build.css" rel="stylesheet" type="text/css">
  <script src="/assets/build.js" type="text/javascript"></script>
</head>
<body>


  <header class="header-main" style="background-image:url({{ posts.first.assets.first.url }})">
    <h1 class="hide">{{ site.title }}</h1>
    <img class="logo" src="/assets/logo.svg">
    <!-- <img class="home-banner" src="{{ posts.first.assets.first.url }}"> -->
  </header>


  <div class="container">

    <div class="section row">
      <div class="col-sm-6">

        <h1>{{ title }}</h1>
        {{ body }}

      </div>
      <div class="col-sm-6">

        <img src="{{ assets[1].url }}">

      </div>
    </div>

{% for page in pages %}

  {% if page.slug == 'contact' %}

      <div class="contact section">
        <h2>{{ page.title }}</h2>
        {{ page.body }}
      </div>

  {% elsif page.slug == 'footer' %}

      <div class="footer section">
        {{ page.body }}
      </div>

  {% else %}

      <div class="{{ page.slug }} section row">
        <div class="col-sm-6{% cycle '', ' col-sm-push-6' %}">
          <img src="{{ page.assets.last.url }}">
        </div>
        <div class="col-sm-6{% cycle '', ' col-sm-pull-6' %}">
          <h2>{{ page.title }}</h2>
          {{ page.body }}
        </div>
      </div>

  {% endif %}

{% endfor %}


    <div id="instagram"></div>


  </div>


{% include 'includes/ga' %}
</body>
</html>
